$primary-color: #3c7dbb;
$secondary-color: #1eaacf;
$base-color: #333333;

$default-bg: rgba(255, 255, 255, 0.95);

$card-shadow: 0rem 1.1rem 0.8rem -0.9rem rgba(0, 0, 0, 0.2);

$card-shadow-small: 0rem 0.8rem 0.4rem -0.4.5rem rgba(0, 0, 0, 0.2);

$menu-size: 350px;


$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px